<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginTienda</servlet-name>
        <servlet-class>p2.LoginTienda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>p2.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarPedido</servlet-name>
        <servlet-class>p2.ProcesarPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAdmin</servlet-name>
        <servlet-class>p2.LoginAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginUsuario</servlet-name>
        <servlet-class>p2.LoginUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarDatosUsuario</servlet-name>
        <servlet-class>p2.ModificarDatosUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tramitacion</servlet-name>
        <servlet-class>p2.Tramitacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionarPedidosUsuario</servlet-name>
        <servlet-class>p2.GestionarPedidosUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginTienda</servlet-name>
        <url-pattern>/LoginTienda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarPedido</servlet-name>
        <url-pattern>/ProcesarPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAdmin</servlet-name>
        <url-pattern>/LoginAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginUsuario</servlet-name>
        <url-pattern>/LoginUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarDatosUsuario</servlet-name>
        <url-pattern>/ModificarDatosUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tramitacion</servlet-name>
        <url-pattern>/Tramitacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionarPedidosUsuario</servlet-name>
        <url-pattern>/GestionarPedidosUsuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
