/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-feb-2020, 12:23:24
    Author     : arant
*/

h2 {
    background-color:#e5e5e5;
    padding: 2.5%;
    margin: 0;
}

.cuerpo1 {
    padding-left: 40%;
    padding-bottom: 5%;
    padding-top: 5%;
    line-height: 40pt;
    /*margin-top: 10%;*/
}


.button0 {
    border-color: #e5e5e5;
    background-color: #e5e5e5;
    height: 40px;
    width: 13%;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    padding: 1%;
}


.carritoTable{
    width:  70%;
    margin-top: /*15%*/5%;
    padding-left: 20%;
    margin-bottom: 10%;
}

.tag {
    border: 1px solid blue;
    width: 20%;
    margin-top: 10%;
    margin-left: 15%;
    padding-left: 5%;
    border-color: #dddddd;
}

.div_tabla{
    width:  70%;
    margin-top: 7%;
    margin-left: 15%;
}

.carritoTable td, .div_tabla td{
  border: 1px solid #dddddd;
  padding: 3%;
}

.button1 {
    border: none;
    outline: 0;
    margin: 1%;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 30%;
    font-size: 18px;
    padding: 1%;
}

.button2 {
    border: none;
    outline: 0;
    padding: 1%;
    margin: 5px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 40%;
    font-size: 18px;
}

.bodyCheckPedido {
    margin-top: 15%;
    margin: 10%;
   /* border: 1px solid #dddddd;*/
    display: flex;
    align-items: center;
}

.bodyCheckPedido h5{
    font-family: sans-serif;
}

.insideCheckPedido {
    margin: 2%;
}

.logo {
    width: 40%;
    /*border: 1px solid green;*/
}

.alineado {
    text-align: center;
}
.alineadoIzq {
    text-align: left;
}
.alineadoDer {
    text-align: right;
}

/**** registrarse.html ****/
.registrarTable {
    /*margin: 10%;*/
    /*padding: 15%;*/
    /*border: 1px solid green;*/
    /*width: 70%;*/
    line-height: 30pt;
}
.registrarTable td {
    padding-right: 10%;
    padding-left: 10%;
    
}

#button2 {
    border: none;
    outline: 0;
    padding: 1%;
    margin: 5px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 20%;
    font-size: 18px;
    margin-top: 5%;
}

.gestionTable {
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 10%;
    /*border: 1px solid green;*/
    width: 70%;
    line-height: 30pt;
}


/* resguardo.jsp */

.datosEnvioTag {
    border: 1px solid blue;
    width: 50%;
    margin: 5%;
    padding-left: 5%;
    border-color: #dddddd;
    display: inline-block;
    line-height: 20pt;
}


.datosEnvioTag h4{
    font-weight: bold;
    background-color:#e5e5e5;
    padding: 2%;
    width: 50%;
}

#tag {
    font-weight: bold;
    background-color:#e5e5e5;
}

.button3{
    border: none;
    outline: 0;
    padding: 1%;
    margin: 5%;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 30%;
    font-size: 18px;
    margin-left: 5%;
    float: right;
}

.datosEnvioTag table{
    width:  90%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

.datosEnvioTag td th {
    padding: 20%;
    margin: 5%;
}

.datosEnvioTag th{
    background-color:#e5e5e5;
}

.datosEnvioTag img {
    max-width: 20%;
    height: auto;
    float: left;
}

/* check_pedido */
.barra {
    width:  90%;
    
}
