/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-feb-2020, 21:41:03
    Author     : Mireia
*/

h2 {
    
    background-color:#e5e5e5;
    padding: 3%;
    width: 94%;
    position: fixed;
    
}

#iniciotable {
    padding-left: 5%;
    align-content: center;
    margin-bottom: 5%;
}

img {
    width: 50%;
}

.logo {
    width: 100%;
    max-width: 100%;
}

.alineado {
    text-align: center;
}